---
import ArkivPoster from "../components/ArkivPoster.astro";
import Heroimg from "../components/Heroimg.astro";
import Layout from "../layout/Layout.astro";
import { Image } from "astro:assets";
import BackVector from "../assets/praktisk_img/BackgroundVector.webp";
import CircleElement from "../components/CircleElement.astro";

/*fetch data*/
const url = `${import.meta.env.SUPABASE_URL}/rest/v1/Hoest_Moen?select=*`;
const apiKey = import.meta.env.SUPABASE_PUBLISHABLE_KEY;

const options = {
  headers: {
    apikey: apiKey,
    Authorization: `Bearer ${apiKey}`,
  },
};

const data = await fetch(url, options).then((res) => res.json());

console.log(data);
---

<Layout title="Om Os">
  <Heroimg />
  <h1 class="om_header">OM HØST MØN</h1>
  <div class="omOs_wrapper">
    <p class="omOs_tekst">Billetterne er i salg nu! Inflationen inden for æstetik, alkohol og gebyrer er stadig høj, så priserne bliver nødt til at følge med. Men det lover vi, at kvaliteten og oplevelsen også gør, og vi stiller pengene-tilbage-garanti for enorm lykke. Hvad med navnet? Det finder vi ud af. Indtil videre hedder vi det samme. Man kan tage festivalen ud af Møn, men ikke Møn ud af festivalen og alt det der.</p>

    <p class="omOs_tekst">Det er den syvende Høst Møn på ni år, for hverken verdensomspændende pandemier eller lokalt huserende markfirben kan holde os fra at skabe skønne, støjende fællesskaber på sydlige breddegrader med alle jer.</p>

    <p class="omOs_tekst">Vi er sikkert stadig sommerens sidste skrig, og vores enorme ambitioner er uændrede. Høst Møn er en musikfestival for folk, der elsker begge dele: musik og festival. Vi er til for mennesker, der gerne vil lytte til musikken. Vi booker bredt fra dit yndlingsband til de små spillesteders snavsede juveler.</p>

    <p class="omOs_tekst">Der kommer mindst 12 bands på årets festival. Der kommer økologisk fadøl og lokalbrygget gin. Der er opbyggelig fællesspisning med nedbrydeligt bestik under kulørte lamper. Det er havudsigt, stjernehimmel og træk-og-slip.</p>

    <p class="omOs_tekst">Du kan gøre, hvad du vil på Høst Møn – med eller uden børn og søvn. Omgivelserne er trygge, og rammerne er vide, og hvis du vil bade om natten og drikke om morgenen, så kan du gøre det. Så længe du ikke snakker foran scenen, når musikken spiller.</p>

    <p class="omOs_tekst">Det lykkedes os ikke at finde et nyt sted i 2025, så i stedet brugte vi vores kræfter på at kuratere og afvikle musik til den nystartede Impact Festival i Københavns Sydhavn sammen med de fine folk fra Trifolium. Det gør vi igen i 2026, samtidig med at vi holder Høst Møn.</p>
  </div>

  <Image class="vector_img" src={BackVector} alt="Grafisk element i baggrunden af siden" />

  <div class="omOs_tekst">
    <p class="kontakt_tekst">Kontakt os:</p>
    <p class="kontakt_tekst">Spørgsmål, samarbejde, generel info: <span class="links">info@hoestmoen.dk</span></p>
    <p class="kontakt_tekst">Booking: <span class="links">booking@hoestmoen.dk</span></p>
    <p class="kontakt_tekst">Produktion (scene, plads, infrastruktur): <span class="links">produktion@hoestmoen.dk</span></p>
    <p class="kontakt_tekst">Frivillige: <span class="links">frivillig@hoestmoen.dk</span></p>
  </div>

  <div class="arkiv_wrapper">
    <h2 class="arkiv_header">ARKIV</h2>
    <div class="circle_wrapper">
      <CircleElement />
    </div>
  </div>
  <hr />
  <div class="grid_1_1">
    {Array.isArray(data) && data.map((poster) => <ArkivPoster imgSrc={poster.poster} year={poster.year} />)}
  </div>
</Layout>

<style>
  /*mobile*/
  body {
    margin: 0;
    font-family: sans-serif;
  }

  h1,
  h2,
  p {
    color: var(--text-color);
    margin: 0;
  }

  .links {
    color: #bde300;
  }

  .arkiv_top {
    display: flex;
    justify-content: space-between; /* pushes them left & right */
    align-items: center; /* vertical alignment */
  }

  .arkiv_header {
    margin: 0; /* optional – removes default spacing */
  }

  hr {
    border: none;
    height: 2px;
    background-color: var(--text-color);
    max-width: 350px;
    margin: 10px auto 100px auto;
  }

  .arkiv_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .circle_wrapper {
    margin-right: 50px;
    margin-top: 150px;
  }

  /* Header */
  .arkiv_header {
    font-size: 1.5rem;
    text-align: left;
    margin: 4rem 0 0 2.5rem;
    margin-top: 150px;
  }

  .omOs_wrapper {
    margin-top: 3rem;
  }
  .vector_img {
    position: absolute;
    z-index: -100;
    width: 100%;
  }

  .om_header {
    letter-spacing: 5px;
    text-align: center;
    font-size: 2.3rem;
    padding-top: 10rem;
  }

  /* Text container */
  .omOs_tekst {
    margin: 0 auto 1.5rem auto;
    padding: 0 1rem;
    line-height: 1.6;
    font-size: 1rem;
  }

  .kontakt_tekst {
    font-size: 1rem;
  }

  /* Desktop */

  @media (min-width: 1024px) {
    .grid_1_1 {
      display: grid;
      grid-template-columns: 1fr; /* stacked on mobile */
      gap: 3rem;
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 1rem;
      margin-bottom: 4rem;
    }
    .arkiv_header {
      font-size: 2rem;
      text-align: left;
      margin: 100px auto 0 3rem;
      max-width: 1300px;
    }

    .arkiv_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .circle_wrapper {
      margin-top: 100px;
    }

    hr {
      max-width: 1170px;
    }

    .om_header {
      font-size: 5rem;
      letter-spacing: 10px;
      padding-top: 10rem;
      margin-bottom: 5rem;
    }

    .grid_1_1 {
      grid-template-columns: 1fr 1fr; /* 2 columns */
      padding-inline: 0.2rem;
      align-items: center;
    }

    .omOs_wrapper {
      margin-top: 0;
    }

    .omOs_tekst {
      padding: 0;
      max-width: 1170px;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }
    .kontakt_tekst {
      font-size: 1.5rem;
    }
  }
</style>
