---
const { text, imgSrc } = Astro.props;
const id = `pop-${text}`; /*ID til dialog/popover img*/
---

{/* inline JS */}
<button
  type="button"
  class="arkiv_button"
  onclick={`
    const pop = document.getElementById('${id}');
    pop?.showModal?.(); 
  `}
>
  {text}
</button>

{/*klik for at lukke dialog - "this" er et built in JS*/}
<dialog id={id} class="popover" onclick="if (event.target === this) this.close()">
  <button class="close-btn" onclick="this.closest('dialog').close()">×</button>
  <img src={imgSrc} alt={text} />
</dialog>

<style>
  .arkiv_button {
    font-family: "Unbounded", sans-serif;
    font-size: 1.2rem;
    display: block;
    color: #bde300;
    border: 2px solid #bde300;
    border-radius: 999px;
    padding: 8px 60px;
    margin: 2.5rem auto;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .popover {
    border: none;
    background: transparent;
    padding: 0;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  dialog::backdrop {
    background: rgba(19, 24, 20, 0.8);
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;

    background: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;

    width: 40px;
    height: 40px;
    border-radius: 999px;
  }

  @media (min-width: 1024px) {
    .arkiv_button {
      font-family: "Unbounded", sans-serif;
      font-size: 2rem;
      display: inline-block;
      color: #bde300;
      border: 2px solid #bde300;
      border-radius: 999px;
      padding: 8px 80px;
      margin: 0 auto;
      background: transparent;
      cursor: pointer;
      transition: 0.3s ease;
    }

    .arkiv_button:hover {
      background-color: black;
      border-color: black;
    }

    .popover img {
      max-width: 90vw;
      max-height: 90vh;
    }
  }
</style>
